# Logger
cryptography
opencv-python
psutil
pycountry
pyperclip
pypiwin32
requests
requests-toolbelt
wmi
# Builder
colorama
customtkinter
nuitka
packaging
pillow
pycryptodomex
pyinstaller
